
p.copyright {
    font-style: oblique;
    font-size: 10px;
    text-align: left;
    margin-left: 30px;
  }
  
    a:link{
      color: #7853B0;
      
    }



body {
  background-color: #5B7FBD;
  font-family: Verdana,Tahoma, Helvetica, sans-serif;
}


    ul {
        text-align: center;
        list-style-position: inside;
    }
